extends layout

block content
  h1 MyBadges
  p.lead A network for techies, their apps and tools..
  hr
  .row
    .col-sm-6
      h2 Join
      p Create a profile with your favorite tools.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Look around
      p Browse profiles, join communities and discover the best tools for you.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Improve
      p Find awesome useful apps and make your toolchain bigger.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Learn
      p Learn how to use your apps better, read tips, articles and get updates on them.
      p
        a.btn.btn-default(href='#', role='button') View details »
